.img-image-input-wrapper {
    background-image: url(/assets/media/svg/files/blank-image.svg);
}

.active_admin_page{
    color: white !important;
}


.dataTables_wrapper .dataTables_length select{
    width: 80px !important;
}

.col-md-6{
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-select.form-select-solid{
    width: 80px;
}

.delete_line{
    cursor: pointer;
}